<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039228139227-o42vv58bei9c4iqu95litgfhuf061dj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039228139227-o42vv58bei9c4iqu95litgfhuf061dj1</string>
	<key>API_KEY</key>
	<string>AIzaSyBXzKdB6aWKujIx6kocqqUN_PWhE6kfHlo</string>
	<key>GCM_SENDER_ID</key>
	<string>1039228139227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cabzpay</string>
	<key>PROJECT_ID</key>
	<string>cabzpay-63864</string>
	<key>STORAGE_BUCKET</key>
	<string>cabzpay-63864.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039228139227:ios:6c6bb6cd9e0eae19203efe</string>
</dict>
</plist>